/* General Styling */
html,
body {
  height: 100%;
  font-family: "Varela Round", sans-serif;
}

body {
  margin: 0;
}

body {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 70% 10%;
  gap: 2em 2em;
  grid-template-areas: "header" "main-content" "footer";
}
/* General Styling */

/* HEADER */
.header {
  grid-area: header;
  text-align: center;
}

#showcase {
	min-height: 450px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image {
	position: absolute;
	background: #333 url('../img/header-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: -1;
}

#showcase h1 {
	padding-top: 100px;
	padding-bottom: 0;
}

#showcase .content-wrap, #section-a .content-wrap {
	padding: 0 1.5em;
}
/* HEADER */

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "section-a" "section-b" "section-c";
  grid-area: main-content;
  padding-right: 2em;
  padding-left: 2em;
}

/* SECTION A */
.section-a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "about-picture about-text";
  grid-area: section-a;
}

.about-picture {
  grid-area: about-picture;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.about-text {
  grid-area: about-text;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}
/* SECTION A */

/* SECTION B */
.section-b {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "portfolio-project-2" "portfolio-burger-app" "portfolio-team-profile";
  grid-area: section-b;
}

.portfolio-project-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "portfolio-image portfolio-content";
  grid-area: portfolio-project-2;
}

.portfolio-image {
  grid-area: portfolio-image;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.portfolio-content {
  grid-area: portfolio-content;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.portfolio-burger-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "portfolio-image-2 portfolio-content-2";
  grid-area: portfolio-burger-app;
}

.portfolio-image-2 {
  grid-area: portfolio-image-2;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.portfolio-content-2 {
  grid-area: portfolio-content-2;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.portfolio-team-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "portfolio-image-3 portfolio-content-3";
  grid-area: portfolio-team-profile;
}

.portfolio-image-3 {
  grid-area: portfolio-image-3;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.portfolio-content-3 {
  grid-area: portfolio-content-3;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}
/* SECTION B */

/* SECTION C */
.section-c {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90% 10%;
  gap: 0px 0px;
  grid-template-areas: "contact-form" "contact-information";
  grid-area: section-c;
}

.contact-form {
  grid-area: contact-form;
  text-align: center;
}

.contact-information {
  grid-area: contact-information;
}
/* SECTION C */
/* MAIN CONTENT */
.footer {
  grid-area: footer;
  text-align: center;
}
